<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://code.alibabatech.com/schema/dubbo
		classpath:schema/dubbo.xsd
        ">
	<dubbo:service ref="systemUserService"
		interface="com.jinpaihushi.jphs.system.service.SystemUserService" />
	<dubbo:service ref="systemModuleService"
		interface="com.jinpaihushi.jphs.system.service.SystemModuleService" />
	<dubbo:service ref="systemRoleService"
		interface="com.jinpaihushi.jphs.system.service.SystemRoleService" />
	<dubbo:service ref="sysversionService"
		interface="com.jinpaihushi.jphs.sysversion.service.SysversionService" />
	<dubbo:service ref="doPostSmsService"
		interface="com.jinpaihushi.jphs.system.service.DoPostSmsService" />

</beans>